<h1>Registro de tipos de cozinhas</h1>
<% if flash[:notice] %>
  <div style="margin: 10px 0px">
  <%= flash[:notice]  %>
  </div>
<% end %>



<%= form_with model: @cuisine do | f | %>

<div>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
</div>

<div style='margin: 10px 5px'>
  <%= f.submit 'Salvar'%>
</div>


<%end%>